<div class="form_container">
    <form formGroup="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <header>Login</header>

        <div class="form-group"></div>
        <label>Username <span>*</span></label>
        <input type="text" name="uname" formControlName="uname"/>

        <div class="help">At least 6 character</div>
        <label>Password <span>*</span></label>
        <input type="password" class="fortextbox" name="passwd" formControlName="passwd" />

        <div class="help">Use upper and lowercase lettes as well</div>
        <button [disabled]="!formdata.valid" value="Login">Login</button>
    </form>
</div>


{{ company && company.name }} <br>
{{ company && company.address }} <br>

{{ company ?.name }} <br>
{{ company ?.address }} <br>









<!-- <form [formGroup]="form">
  <mat-form-field class="full-width">
    <input type="text" placeholder="Project" matInput formControlName="project" [matAutocomplete]="projectAutoComplete">
    <mat-autocomplete #projectAutoComplete="matAutocomplete" [displayWith]="displayWith">
      <mat-option *ngFor="let project of projects" [value]="project">
        {{ project.name }}
      </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="form.controls['project'].hasError('required')">
      Please enter a value
    </mat-error>

    <mat-error *ngIf="form.controls['project'].hasError('incorrect')">
      Please select a valid project
    </mat-error>
  </mat-form-field>

</form> -->